@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
body {
  box-sizing: border-box;
  margin: 0;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  background-color: #f5f5f5;
  color: #121212;
}

.headerthingy {
  padding-top: 20px;
  margin: auto;
  max-width: 1500px;
  width: 100%;
  display: flex;
  align-items: center;
}
.headerthingy hr {
  display: inline-block;
  border-color: #121212;
  width: 49%;
  height: 0px;
}
.headerthingy .circle {
  all: initial;
  display: inline-block;
  border: 5px solid #efda00;
  border-radius: 50%;
  width: 30px;
  min-width: 30px;
  height: 30px;
}
.headerthingy a {
  all: initial;
  padding: 0;
  margin: 0;
  display: block;
  height: 45px;
  width: 45px;
}

h1 {
  display: block;
  text-align: center;
}

.pagewrap {
  max-width: 1500px;
  margin: auto;
}

.centertext {
  text-align: center;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#hamburger {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  transition-duration: 1s;
}
#hamburger img {
  display: block;
  padding: 0px;
  margin: 0px;
}

#hamburger {
  display: inline-block;
  position: fixed;
  cursor: pointer;
}
#hamburger #bar1,
#hamburger #bar2,
#hamburger #bar3 {
  width: 35px;
  height: 5px;
  background-color: #121212;
  margin: 6px 0;
  transition: 1s;
  border-radius: 0px;
}

#hamburger.transition {
  left: 200px;
}
#hamburger.transition #bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}
#hamburger.transition #bar2 {
  opacity: 0;
}
#hamburger.transition #bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

#hamburger-menu {
  position: fixed;
  height: 100vh;
  margin-left: -100px;
  visibility: hidden;
  width: 100px;
  transition-duration: 1s;
  transition-property: margin, width;
  background-color: #121212;
  opacity: 0.95;
  z-index: 100000000000000;
}
#hamburger-menu ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
#hamburger-menu a {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #f5f5f5;
  margin: 0;
}
#hamburger-menu a:hover {
  background-color: #efda00;
  color: #121212;
}
#hamburger-menu .linkcontainer {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: #f5f5f5;
}
#hamburger-menu .linkcontainer:hover {
  background-color: #efda00;
  color: #121212;
}
#hamburger-menu #hiddenlist {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #121212;
  color: #f5f5f5;
}

#hamburger-menu.transition {
  margin-left: 0px;
  width: 200px;
  visibility: visible;
}

a {
  color: #121212;
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover {
  color: #4CCC14;
}

.card {
  padding: 0px 20px;
  margin: 0;
  display: block;
  color: #121212;
  text-decoration: none;
  text-align: left;
  margin-bottom: 50px;
}

.card:visited {
  color: #121212;
}

.card:active {
  border: none;
}

.card:hover {
  color: #121212;
}

.action-hover {
  text-align: right;
  transition-duration: 0.5s;
}

.heading {
  transition-duration: 0.5s;
  width: 30%;
  height: 300px;
}
.heading .header {
  width: 100%;
}

.card section {
  display: flex;
  justify-content: space-between;
}

.info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  body {
    font-size: 15px;
  }
}
@media only screen and (max-width: 700px) {
  .card section {
    display: block;
  }

  .heading {
    width: 100%;
  }

  .info {
    width: 100%;
  }
}
body#about article {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
body#about p {
  text-indent: 2em;
}
body#about div.image {
  background-image: url(../img/mybody.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 20%;
}
body#about div.about {
  width: 79%;
  padding-left: 10%;
}
@media only screen and (max-width: 500px) {
  body#about div.about {
    width: 100%;
    padding: 0;
  }
  body#about div.image {
    display: block;
    width: 100%;
    height: 30vh;
  }
  body#about article {
    display: block;
  }
}

body#contact {
  overflow-x: hidden;
}
body#contact div.contact {
  display: flex;
}
body#contact div.contact p {
  width: 30%;
}
body#contact div.contact p.formsuccess {
  width: 100%;
  color: #4CCC14;
}
body#contact div.contact p.formfail {
  width: 100%;
  color: #D64B42;
}
body#contact div.contact form {
  width: 70%;
  display: flex;
  flex-wrap: nowrap;
}
body#contact div.contact form :focus {
  outline-color: #4CCC14;
}
body#contact div.contact form input, body#contact div.contact form label {
  display: block;
  width: 50%;
  margin: 0;
}
body#contact div.contact form :invalid {
  outline-color: #D64B42;
}
body#contact div.contact form textarea {
  resize: vertical;
}
body#contact div.contact form div {
  width: 49%;
}
body#contact #out {
  color: #D64B42;
}
body#contact .cardcontainer {
  overflow-x: hidden;
  width: 100%;
}
@keyframes slide-in-left {
  from {
    margin-left: -4000px;
  }
  to {
    margin-left: 0px;
    transform: translateX(-50%);
  }
}
@keyframes slide-in-right {
  from {
    margin-left: 4000px;
  }
  to {
    margin-left: 0px;
    transform: translateX(-50%);
  }
}
@keyframes slide-out-left {
  from {
    margin-left: 0px;
    transform: translateX(-50%);
  }
  to {
    margin-left: -4000px;
  }
}
@keyframes slide-out-right {
  from {
    margin-left: 0px;
    transform: translateX(-50%);
  }
  to {
    margin-left: 4000px;
  }
}
body#contact .cardcontainer .card {
  display: block;
  height: 500px;
  width: 400px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -200px;
  transition-timing-function: ease;
  animation-timing-function: ease;
  animation-duration: 2s;
  margin-left: -4000px;
}
body#contact .cardcontainer .card .img {
  display: inline-block;
  height: 300px;
  width: 100%;
  color: #121212;
}
body#contact .cardcontainer .card .head {
  text-align: center;
}
body#contact .cardcontainer .card .link p:hover {
  color: #4CCC14;
}
body#contact .cardcontainer .card .link {
  text-align: center;
}
body#contact .cardcontainer .card .link p {
  text-align: center;
  color: #121212;
}
body#contact .cardcontainer .card.left {
  margin-left: -4000px;
}
body#contact .cardcontainer .card.right {
  margin-left: 4000px;
}
body#contact .cardcontainer .card.center {
  margin-left: 0px;
  transform: translateX(-50%);
}
body#contact .cardcontainer .card.show {
  margin-left: 0px;
  transform: translateX(-50%);
}
body#contact .cardcontainer .card.hide {
  margin-left: -4000px;
}
body#contact .arrows {
  width: 100%;
  display: flex;
  justify-content: center;
}
body#contact #cardcount {
  flex: 1;
}
@media only screen and (max-width: 500px) {
  body#contact .arrows {
    display: none;
  }
  body#contact div.contact {
    display: block;
  }
  body#contact div.contact p {
    width: 100%;
  }
  body#contact div.contact form {
    display: block;
    width: 100%;
  }
  body#contact div.contact form input, body#contact div.contact form label {
    width: 100%;
  }
  body#contact div.contact form div {
    width: 100%;
  }
  body#contact div.contact form textarea {
    width: 100%;
  }
  body#contact .cardcontainer .card {
    transition-duration: 0s;
    animation-duration: 0s;
    position: initial;
    margin: auto;
    left: initial;
    top: initial;
    width: 100%;
  }
  body#contact .cardcontainer .card.hide {
    margin-left: initial;
  }
  body#contact .cardcontainer .card.show {
    margin-left: initial;
    transform: translateX(0%);
  }
}

body#home #about .heading {
  background-image: url(../img/myface.jpg);
  background-size: cover;
  background-position: center;
}
body#home #resume .heading {
  background-image: url(../img/resume.jpg);
  background-size: auto;
  background-position: left;
}
body#home #programming .heading {
  background-image: url(../img/cos-code.png);
}
body#home #music .heading {
  background-image: url(../img/music.jpg);
}
body#home #writing .heading {
  background-image: url(../img/writing.jpg);
}
body#home #contact .heading {
  background-image: url(../img/contactme.jpg);
  background-size: cover;
}
body#home #letter .heading {
  background-image: url(../img/letter.jpg);
  background-size: cover;
}
body#home article .card:nth-child(odd) section {
  flex-direction: row-reverse;
}
body#home .card .heading {
  background-repeat: no-repeat;
  color: #f5f5f5;
}
body#home .card .heading h3 {
  transition-duration: 1s;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  text-align: center;
}
body#home .card:hover .heading h3 {
  background-color: rgba(0, 0, 0, 0.6);
}
body#home #thank {
  margin-bottom: 50px;
}
body#home #thank a {
  color: #087700;
}
body#home #thank a:hover {
  color: #4CCC14;
}

body#music .card {
  display: flex;
  align-content: center;
  margin-bottom: 50px;
  height: 200px;
}
body#music .card .thumbnail {
  width: 16%;
  height: 100%;
  background-image: url(http://via.placeholder.com/350x350);
  background-size: contain;
  background-repeat: no-repeat;
}
body#music .card .player {
  width: 60%;
  padding: 0 20px;
}
body#music .card .player audio {
  margin: auto;
  display: block;
  width: 100%;
  color: #f5f5f5;
}
body#music .card .info {
  width: 19%;
}
body#music .card:nth-child(2n) {
  flex-direction: row-reverse;
}
body#music .intro {
  padding: 0px 20px;
  margin-bottom: 50px;
}
body#music #this .thumbnail {
  background-image: url(../img/this-is-it-thumbnail.jpg);
}
body#music #fight .thumbnail {
  background-image: url(../img/fight-of-the-century-thumbnail.jpg);
}
body#music #hell .thumbnail {
  background-image: url(../img/hells-gate-thumbnail.jpg);
}
body#music #walk .thumbnail {
  background-image: url(../img/walk-through-dark-forest-thumbnail.jpg);
}
@media only screen and (max-width: 600px) {
  body#music .card {
    display: block;
    height: initial;
  }
  body#music .card .thumbnail {
    width: 100%;
    min-height: 200px;
  }
  body#music .card .player {
    width: 100%;
    padding: 0px;
  }
  body#music .card .player audio {
    all: initial;
    width: 100%;
  }
  body#music .card .info {
    width: 100%;
  }
}

body#programming #github .heading {
  background-image: url("../img/github-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body#programming #github p {
  text-indent: 0px;
}
body#programming #gitlab .heading {
  background-image: url("../img/gitlab.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body#programming #gitlab p {
  text-indent: 0px;
}
body#programming h3 {
  text-align: center;
}
body#programming p {
  text-indent: 2em;
}
body#programming article {
  margin-bottom: 100px;
}
body#programming .contentcontainer {
  display: flex;
}
body#programming .contentcontainer .screenie {
  width: 100%;
  min-width: 30%;
}
body#programming .contentcontainer .screenie a {
  display: block;
  width: 100%;
  height: 100%;
}
body#programming .contentcontainer .writing {
  padding-left: 30px;
}
body#programming .tools .content {
  display: flex;
}
body#programming .tools .content p {
  display: block;
  width: 30%;
}
body#programming a.darker {
  color: #087700;
}
body#programming a.darker:hover {
  color: #4CCC14;
}
body#programming #cos .screenie {
  background-image: url("../img/cos-code.png");
}
body#programming #amurtiger .screenie {
  background-size: cover;
  background-image: url("../img/siberiantiger.jpg");
}
body#programming #digital-ethics .screenie {
  background-size: cover;
  background-image: url("../img/digital-ethics.jpg");
}
body#programming #t6aip .screenie {
  background-size: cover;
  background-image: url("../img/t6aip.png");
}
@media only screen and (max-width: 600px) {
  body#programming .contentcontainer {
    display: block;
  }
  body#programming .contentcontainer .screenie {
    width: 100%;
    height: 20vh;
    max-width: none;
  }
  body#programming .contentcontainer .writing {
    padding-left: 0px;
  }
  body#programming .tools .content {
    display: block;
  }
  body#programming .tools .content p {
    display: initial;
  }
}

body#resume {
  padding-bottom: 20px;
}
body#resume .holder {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body#resume .holder > section {
  width: 40%;
}
body#resume #eclang {
  width: 40%;
}
body#resume header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body#resume header img {
  width: 40%;
  height: auto;
}
body#resume p {
  text-indent: 2em;
}
body#resume .noindent {
  text-indent: 0px;
}
@media only screen and (max-width: 600px) {
  body#resume .holder {
    display: block;
  }
  body#resume .holder > section {
    width: 100%;
  }
  body#resume #eclang {
    width: 100%;
  }
  body#resume header {
    width: 100%;
    display: block;
  }
  body#resume header img {
    width: 100%;
    max-width: 60px;
    height: auto;
  }
  body#resume p {
    text-indent: 2em;
  }
  body#resume .noindent {
    text-indent: 0px;
  }
}

body#writing {
  padding-bottom: 20px;
}
body#writing article {
  display: flex;
}
body#writing article a {
  color: #087700;
}
body#writing article a:hover {
  color: #4CCC14;
}
body#writing .holder {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
body#writing .holder > div {
  width: 45%;
  display: inline-block;
}
body#writing article p {
  text-indent: 2em;
}

/*# sourceMappingURL=main.css.map */
