//Import the main SCSS file
@import 'main';


.card {
    padding: 0px 20px;
    margin: 0;
    display: block;
    color: $fore-color;
    text-decoration: none;
    text-align: left;
    margin-bottom: 50px;
}

.card:visited {
    color: $fore-color;
}

.card:active {
    border: none;
}

.card:hover {
    color: $fore-color;
}

.action-hover {
    text-align: right;
    transition-duration: 0.5s;
}

.heading {
    transition-duration: 0.5s;
    width: 30%;
    height: 300px;
    .header {
        width: 100%;

    }
}

.card section {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



@media only screen and (max-width: 560px){
    .card section {
        display: flex;
        flex-direction: column-reverse;
    }
    .heading {
        width: 100%;
    }
    .info {
        width: 100%;
    }
}
