//Global classes etc.
$back-color: #f5f5f5;
$fore-color: #121212;
//$back-color: #171717;
$accent-color: #efda00;
$action-color: #4CCC14;

$max-width: 1500px;

//Import our font
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    background-color: $back-color;
    color: $fore-color;
}

.horizrule {
    padding-top: 20px;
    margin: auto;
    max-width: $max-width;
    width: 100%;
    display: flex;
    align-items: center;
    hr {
        display: inline-block;
        border-color: $fore-color;
        width: 49%;
        height: 0px;
    }
    .circle {
        display: inline-block;
        border: 5px solid $accent-color;
        border-radius: 50%;
        width: 30px;
        min-width: 30px !important;
        height: 30px;
    }
    a {
        padding: 0;
        margin: 0;
        display: block;
        height: 45px;
        width: 45px;
    }

}

h1 {
    display: block;
    text-align: center;
}

.pagewrap {
    max-width: $max-width;
    margin: auto;
    padding: 0px 5%;
}


.centertext {
    text-align: center;
}

//Header content
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hamburger {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 50px;
    transition-duration: 1s;
    img {
        display: block;
        padding: 0px;
        margin: 0px;
    }
}

#hamburger {
    display: inline-block;
    position: fixed;
    cursor: pointer;
    background-color: $back-color;
    #bar1,
    #bar2,
    #bar3 {
        width: 35px;
        height: 5px;
        background-color: $fore-color;
        margin: 6px 0;
        transition: 1s;
        border-radius: 0px;

    }
}

#hamburger.transition {
    left: 300px;
    #bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    #bar2 {
        opacity: 0;
    }
    #bar3 {
        transform: rotate(45deg) translate(-8px, -8px);
    }
}

#hamburger-menu {
    position: fixed;
    height: 100vh;
    margin-left: -100px;
    visibility: hidden;
    width: 100px;
    transition-duration: 1s;
    background-color: $fore-color;
    opacity: 0.95;
    z-index: 100000000000000;
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    a {
        display: inline-block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: $back-color;
        margin: 0;
    }
    a:hover {
        background-color: $accent-color;
        color: $fore-color;
    }
    .linkcontainer {
        display: inline-block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: $back-color;
    }
    .linkcontainer:hover {
        background-color: $accent-color;
        color: $fore-color;
    }
    #hiddenlist {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        background-color: $fore-color;
        color: $back-color;
    }

}

#hamburger-menu.transition {
    margin-left: 0px;
    width: 300px;
    visibility: visible;
}

a {
    color: $fore-color;
    text-decoration: none;
    transition-duration: 0.5s;
}
a:hover {
    color: $action-color;
}
