@import 'vars';
body#music {
	.card {
	    display: flex;
	    align-content: center;
	    .thumbnail {
	        width: 16%;
			height: 100%;
	        background-image: url(http://via.placeholder.com/350x350);
	        background-size: contain;
	        background-repeat: no-repeat;
	    }
	    .player {
	        width: 60%;
	        padding: 0 20px;
	        audio {
	            margin: auto;
	            display: block;
	            width: 100%;
	            color: $back-color;
	        }
	    }
	    .info {
	        width: 19%;
	    }
	    margin-bottom: 50px;
	    height: 200px;
	}
	.card:nth-child(2n) {
		flex-direction: row-reverse;
	}

	.intro {
		padding: 0px 20px;
	    margin-bottom: 50px;
	}

	//This Is It
	#this {
	    .thumbnail {
	        background-image: url(../img/this-is-it-thumbnail.jpg);
	    }
	}

	//The Fight of The Century
	#fight {
	    .thumbnail {
	        background-image: url(../img/fight-of-the-century-thumbnail.jpg);
	    }
	}

	//Beyond Hell's Gate
	#hell {
	    .thumbnail {
	        background-image: url(../img/hells-gate-thumbnail.jpg);
	    }
	}

	//Walk Through The Dark Forest
	#walk {
	    .thumbnail {
	        background-image: url(../img/walk-through-dark-forest-thumbnail.jpg);
	    }
	}

	@media only screen and (max-width: 600px) {
		.card {
			display: block;
			.thumbnail {
				width: 100%;
				min-height: 200px;
			}
			.player {
				width: 100%;
				padding: 0px;
				audio {
					all: initial;
					width: 100%;
				}
			}
			.info {
				width: 100%;
			}
			height: initial;
		}
	}
}
