//Import the main SCSS file

@import 'main';


article {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

p {
    text-indent: 2em;
}

div.image {
    background-image: url(../img/mybody.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 20%;
}

div.about {
    width: 79%;
    padding-left: 10%;
}

@media only screen and (max-width: 500px) {
    div.about {
        width: 100%;
        padding: 0;
    }
    div.image {
        display: block;
        width: 100%;
        height: 30vh;
    }
    article {
        display: block;
    }
}
