//Import the main library
@import 'main';

body {
    overflow: hidden;
}

.cardcontainer {
    overflow: hidden;
    width: 100%;
    .card {
        display: block;
        height: 500px;
        width: 400px;
        overflow: hidden;
        position: absolute;
        left: 50%;
        margin-left: -200px;
        transition-timing-function:ease;
        .img {
            display: inline-block;
            height: 300px;
            width: 100%;
            color: $fore-color;
        }
        .head {
            text-align: center;
        }
        //link
        .link p:hover {
            color: $action-color;
        }
        .link {
            text-align: center;
        }
        .link p {
            text-align: center;
            color: $fore-color;
        }
    }

}

.arrows {
    width: 100%;
    display: flex;
    justify-content: center;
}
#cardcount {
    flex: 1;
}

.card.left {
    margin-left: -4000px;
}
.card.right {
    margin-left: 4000px;
}
.card.center {
    margin-left: 0px;
    transform: translateX(-50%);
}
