@import 'main';
@import 'cards';

//Beginning of the card layouts
#github {
    .heading {
        background-image: url('../img/github-icon.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
    p {
        text-indent: 0px;
    }
}

h3 {
    text-align: center;
}

p {
    text-indent: 2em;
}

article {
    margin-bottom: 100px;
}

.contentcontainer {
    display: flex;
    .screenie {
        width: 30%;
        min-width: 500px;
    }
    .writing {
        padding-left: 30px;
    }
}

.tools .content {
    display: flex;
    p {
        display: block;
        width: 30%;
    }
    ul {

    }
}

#cos {
    .screenie {
        background-image: url('../img/cos-code.png');
    }
}

#amurtiger {
    .screenie {
        background-size: cover;
        background-image: url('../img/siberiantiger.png');
    }
}
