@import 'main';

.holder {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.holder>section {
    width: 40%;
}
#eclang {
    width: 40%;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    img {
        width: 40%;
        height: auto;
    }
}
