@import 'main';

.card {
    display: flex;
    align-content: center;
    .thumbnail {
        width: 19%;
        background-image: url(http://via.placeholder.com/350x350);
        background-size: contain;
        background-repeat: no-repeat;
		height: 300px;
    }
    .info {
        width: 70%;
    }
    margin-bottom: 50px;
}


#cart {
	.thumbnail {
		background-image: url(../img/cart-logo.png);
	}
}
