//Global classes etc.
$back-color: #f5f5f5;
$fore-color: #121212;
//$back-color: #171717;
$accent-color: #efda00;
$action-color: #4CCC14;
$dark-action-color: #087700;

$max-width: 1500px;

$error-color: #D64B42;

//Import our font
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
