@import 'vars';
body {
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto Mono', monospace;
    background-color: $back-color;
    color: $fore-color;
}

.headerthingy {
    padding-top: 20px;
    margin: auto;
    max-width: $max-width;
    width: 100%;
    display: flex;
    align-items: center;
    hr {
        display: inline-block;
        border-color: $fore-color;
        width: 49%;
        height: 0px;
    }
    .circle {
        all: initial;
        display: inline-block;
        border: 5px solid $accent-color;
        border-radius: 50%;
        width: 30px;
        min-width: 30px;
        height: 30px;
    }
    a {
        all: initial;
        padding: 0;
        margin: 0;
        display: block;
        height: 45px;
        width: 45px;
    }

}

h1 {
    display: block;
    text-align: center;
}

.pagewrap {
    max-width: $max-width;
    margin: auto;
    padding: 0 30px;
}


.centertext {
    text-align: center;
}

//Header content
header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#hamburger {
    position: fixed;
    left: 0px;
    top: 0px;
    display: inline-block;
    cursor: pointer;
    padding: 2px;
    transition-duration: 1s;
    img {
        display: block;
        padding: 0px;
        margin: 0px;
    }
    background-color: $back-color;
    #bar1,
    #bar2,
    #bar3 {
        width: 40px;
        height: 5px;
        background-color: $fore-color;
        margin: 8px 0;
        transition: 1s;
        border-radius: 0px;

    }
}

#hamburger.transition {
    left: 200px;
    #bar1 {
        transform: rotate(-45deg) translate(-9px, 8px);
    }
    #bar2 {
        opacity: 0;
    }
    #bar3 {
        transform: rotate(45deg) translate(-9px, -10px);
    }
}

#hamburger-menu.transition {
    margin-left: 0px;
    width: 200px;
}

#hamburger-menu {
    position: fixed;
    height: 100vh;
    margin-left: -100px;
    width: 100px;
    transition-duration: 1s;
    transition-property: margin, width;
    background-color: $fore-color;
    opacity: 0.9;
    z-index: 100000000000000;
    ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
    }
    a {
        display: inline-block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: $back-color;
        margin: 0;
    }
    a:hover {
        background-color: $accent-color;
        color: $fore-color;
    }
    #linkcontainer {
        display: inline-block;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: $back-color;
    }
    #linkcontainer:hover {
        background-color: $accent-color;
        color: $fore-color;
    }
    #hiddenlist {
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        background-color: $fore-color;
        color: $back-color;
    }

}

a {
    color: $fore-color;
    text-decoration: none;
    transition-duration: 0.5s;
}
a:hover {
    color: $action-color;
}

.card {
    padding: 0px 20px;
    margin: 0;
    display: block;
    color: $fore-color;
    text-decoration: none;
    text-align: left;
    margin-bottom: 50px;
}

.card:visited {
    color: $fore-color;
}

.card:active {
    border: none;
}

.card:hover {
    color: $fore-color;
}

.action-hover {
    text-align: right;
    transition-duration: 0.5s;
}

.heading {
    transition-duration: 0.5s;
    width: 30%;
    height: 300px;
    .header {
        width: 100%;

    }
}

.card section {
    display: flex;
    justify-content: space-between;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// Main MQ
@media only screen and (max-width: 500px) {
    body {
        font-size: 15px;
    }
}

//Card MQ
@media only screen and (max-width: 700px){
    .card section {
        display: block;
    }
    .heading {
        width: 100%;
    }
    .info {
        width: 100%;
    }
}

//And import all the scss files for our pages
@import 'about';
@import 'contact';
@import 'home';
@import 'music';
@import 'programming';
@import 'resume';
@import 'writing';
